[Desktop Entry]
Icon=/etc/SmartCalc/Sc.png
Name=Smart Calc
Exec=SmartCalc
Comment=Clever app for clever people
Terminal=true
Type=Application
StartupNotify=true
X-Desktop-File-Install-Version=0.15
