@font-face {
    font-family: Ubuntu;
    src: url("https://hejtmus.github.io/SmartCalc/font/Ubuntu-R.ttf");
}
pre {
 margin-bottom:1em;
 padding:5px;
 padding-bottom:20px !ie7;
 width:auto;
 width:650px !ie7;
 max-height:600px;
 overflow:auto;
 font-family: Ubuntu;
 font-size:13px;
 background-color:#eff0f1
}
code {
 font-family: Ubuntu;
 background-color:#eff0f1;
 word-spacing: 5px;
}

p h1 h2 h3 h4 blockquote table {
 font-family: Ubuntu;
}